<h2>Crear nueva clase</h2>

<form class="new-class-form" (ngSubmit)="createClass()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre de la clase</mat-label>
    <input matInput [(ngModel)]="newClass.name" name="name" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="newClass.description" name="description" required></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Añadir materia</mat-label>
    <mat-chip-grid #chipList aria-label="Enter Subjects">


      @for (subject of subjects; track subject) {
        <mat-chip-row
          [removable]="true"
          (removed)="removeSubject(subject)"
        >
          {{subject}}
          <button matChipRemove [attr.aria-label]="'remove ' + subject">
            <mat-icon>x</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input 
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addSubject($event)">
    </mat-chip-grid>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Hora de inicio (HH:mm)</mat-label>
    <input matInput [(ngModel)]="selectedTime" name="time" required>
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit">Crear clase</button>
</form>

<hr />

<div *ngIf="editMode" class="edit-class-form">
  <h2>Editar clase</h2>

  <form (ngSubmit)="updateClass()">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="editClass.name" name="editName" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput [(ngModel)]="editClass.description" name="editDescription" required></textarea>
    </mat-form-field>

    
    <mat-form-field class="full-width">
      <mat-label>Materias</mat-label>
      <mat-chip-grid #chipList aria-label="Enter Subjects">
        <mat-chip-row
          *ngFor="let subject of editSubjects; trackBy: trackSubject"
          [removable]="true"
          (removed)="removeEditSubject(subject)"
        >
          {{subject}}
          <button matChipRemove [attr.aria-label]="'remove ' + subject">
            <mat-icon>x</mat-icon>
          </button>
        </mat-chip-row>
        <input 
          placeholder="Añadir materia..." 
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addEditSubject($event)">
      </mat-chip-grid>
    </mat-form-field>
    

  <mat-form-field appearance="fill">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="editClass.schedule" name="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Hora de inicio</mat-label>
    <input matInput [(ngModel)]="editSelectedTime" name="time" placeholder="HH:mm" required>
  </mat-form-field>
  
  

    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button type="button" (click)="cancelEdit()">Cancelar</button>
  </form>
</div>

<h2>Todas las clases</h2>

<mat-form-field appearance="outline" class="search-box">
  <mat-label>Buscar clase</mat-label>
  <input
    matInput
    [(ngModel)]="searchTerm"
    (input)="onSearchChange()"
  />
</mat-form-field>

<div class="class-list">
  <mat-card *ngFor="let clase of filteredClasses" class="class-card">
    <mat-card-title><strong>Clase: </strong>{{ clase.name }}</mat-card-title>
    <mat-card-content>
      <p><strong>Descripción:</strong> {{ clase.description }}</p>
      <p><strong>Profesor:</strong> {{ clase.professorUsername }}</p>   
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="startEdit(clase)">Editar</button>
      <button mat-button color="warn" (click)="deleteClass(clase.id)">Eliminar</button>
      <button mat-button [routerLink]="['/dashboard/assignments']">Asignar alumnos</button>
    </mat-card-actions>
  </mat-card>
</div>