<h2>Registrar calificación</h2>
<form (ngSubmit)="createGrade()" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Alumno</mat-label>
    <mat-select [(ngModel)]="newGrade.studentId" name="studentId" required>
      <mat-option *ngFor="let student of students" [value]="student.id">
        {{ student.firstName + " "+student.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Clase</mat-label>
    <mat-select [(ngModel)]="newGrade.classId" name="classId" required (selectionChange)="onClassSelected($event.value)">
      <mat-option *ngFor="let class of classes" [value]="class.id">
        {{ class.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

  <mat-form-field appearance="outline">
    <mat-label>Materia</mat-label>
    <mat-select [(ngModel)]="newGrade.subject" name="editSubject" required>
      <mat-option *ngFor="let subject of subjects" [value]="subject">
        {{ subject }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

  <mat-form-field appearance="outline">
    <mat-label>Nota</mat-label>
    <input matInput type="number" [(ngModel)]="newGrade.value" name="score" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="newGrade.description" name="description" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>

<hr />

<h2>Calificaciones registradas</h2>
<mat-card *ngFor="let grade of grades" class="grade-card">
  <mat-card-title>
    Alumno: {{ grade.studentName || 'Desconocido' }}
  </mat-card-title>
  <mat-card-content>
    Materia: {{ grade.subject }}<br />
    Nota: {{ grade.score }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="startEdit(grade)">Editar</button>
    <button mat-button color="warn" (click)="deleteGrade(grade.id)">Eliminar</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="editMode" class="edit-form">
  <h3>Editar calificación</h3>
  <form (ngSubmit)="updateGrade()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Clase</mat-label>
      <mat-select [(ngModel)]="editGrade.classId" name="editClassId" required (selectionChange)="onEditClassSelected($event.value)">
        <mat-option *ngFor="let class of classes" [value]="class.id">
          {{ class.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Materia</mat-label>
      <mat-select [(ngModel)]="editGrade.subject" name="editSubject" required [disabled]="editSubjectsLoading">
        
        <mat-option *ngIf="editSubjectsLoading" disabled>
          <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
            color="primary"
            style="margin: auto;"
          ></mat-progress-spinner>
        </mat-option>
    
        <mat-option *ngFor="let subject of editSubjects" [value]="subject">
          {{ subject }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nota</mat-label>
      <input matInput type="number" [(ngModel)]="editGrade.score" name="editScore" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button type="button" (click)="cancelEdit()">Cancelar</button>
  </form>
</div>
