.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin-bottom: 2rem;
  }
  
  .student-card {
    margin-bottom: 1rem;
  }
  
  .edit-form {
    margin-top: 2rem;
  }

.student-email {
  margin-left: 12px;
}
  