<div class="profile-container">
    <h2>Mi Perfil</h2>
  
    <form #profileForm="ngForm" (ngSubmit)="updateProfile()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.username" name="username" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [value]="user.email" disabled>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Contraseña nueva</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" name="password">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
    </form>
  </div>
  