<div class="dashboard-container">
  <aside class="sidebar">
    <h3>ClassManager</h3>
    <nav>
      <a routerLink="/dashboard/classes" routerLinkActive="active">Clases</a>
      <a routerLink="/dashboard/students" routerLinkActive="active">Alumnos</a>
      <a routerLink="/dashboard/grades" routerLinkActive="active">Calificaciones</a>
      <a routerLink="/dashboard/assignments" routerLinkActive="active">Asignaciones</a>
      <a routerLink="/dashboard/attendance" routerLinkActive="active">Asistencia</a>
      <a routerLink="/dashboard/attendance-history" routerLinkActive="active">Historial de Asistencia</a>
      <a routerLink="/dashboard/profile" routerLinkActive="active">Perfil</a>

    </nav>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <span>👋 Hola, {{ authService.currentUser?.name || 'Profesor' }}</span>
      <button mat-button color="warn" (click)="logout()">Salir</button>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>