<div class="auth-container">
    <h2>Iniciar Sesión</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="email" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="full-width" [disabled]="loading">
        {{ loading ? 'Cargando...' : 'Entrar' }}
      </button>
    </form>
  
    <div class="text-center mt-3">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/register" class="register-link">Regístrate</a>
    </div>
    
    <div class="text-center mt-2">
      <a routerLink="/reset-password" class="reset-link">¿Olvidaste tu contraseña?</a>
    </div>
  </div>