<div class="auth-container">
    <h2>Crear Cuenta</h2>
  
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
      <h2>Registro</h2>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <!--<mat-form-field appearance="fill" class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="PROFESOR">Profesor</mat-option>
          <mat-option value="ADMIN">Administrador</mat-option>
        </mat-select>
      </mat-form-field>-->
      
      <button mat-raised-button color="primary" type="submit" class="full-width">Registrarse</button>

      <div class="text-center mt-3">
        <span>¿Ya tienes cuenta? </span>
        <a routerLink="/login" class="login-link">Inicia sesión</a>
      </div>
    </form>
</div>