<div class="auth-container">
    <h2>Crear Cuenta</h2>
  
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
      <h2>Registro</h2>
    
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="PROFESOR">Profesor</mat-option>
          <mat-option value="ADMIN">Administrador</mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit">Registrarse</button>
    
      <div class="mt-3 text-center">
        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </form>
  
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </div>